*{
    margin: 0;
    padding: 0;
    list-style: none;
    color: black;
    font-family: "微软雅黑";
}
li{
    margin-left: 100px;
}
 a{
   text-decoration: none;
}
 a:hover{
    text-decoration: underline;
    color: #47a2ff;
}
